{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="text-center alert-success">
            {% for flashMessage in app.flashes('success') %}
                <h4> {{ flashMessage }} </h4>
            {% endfor %}
    </div>
    <div class="fond mt-3"> 
        <div class="container marketing py-3 ">
            <div class="row featurette">
                <div class="col-md-7">
                    <h1 class="text-center">BIENVENUE !</h1>
                    <p class="lead pt-3"> Je suis Cédric MEYER, un passionné par l'Etre Humain, la Vie et les mystères de la conscience. Le bien-être et l’épanouissement personnel 
                    sont au cœur de mon activité. A travers Eclat d'ORA, je vous propose de vous accompagner sur le chemin de la découverte de soi par le biais de pratiques 
                    ancestrales et innovantes sur lesquelles j'ai été formé. Mon rôle est de vous offrir des expériences uniques et transformatrices, en vous invitant à explorer des 
                    pratiques telles que la formation Reiki, l'hypnose transpersonnelle, la méditation ou encore la Lucia.<br>
                    Chaque activité que je vous propose est conçue pour vous aider à vous connecter avec votre propre énergie, à découvrir des moyens de guérir et de se réconforter. 
                    Je vous invite à explorer mes services et à découvrir comment ces pratiques, par l'énergie et la sagesse qui s'y cachent, peuvent vous aider à atteindre votre plein 
                    potentiel et à vivre une vie plus épanouie en harmonie avec vous-même.<br><br>
                    Je suis convaincu que chaque visiteur est un voyageur curieux et ouvert, prêt à découvrir de nouvelles façons de vivre et de se sentir bien. N'hésitez pas à me 
                    contacter si vous souhaitez échanger directement avec moi. <br><br>
                    Je vous souhaite une très belle visite ! </p>
                      <div class="text-center">
                        <a class="bouton-or"> En savoir plus </a>
                      </div>
                </div>
                <div class="col-md-5">
                    <img src="{{asset('images/cedric_index.png')}}" class="img-fluid" alt="..." >
                </div>
            </div>
        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary" style="background-image: url('{{asset('images/fond_evenement.png')}}'); background-size: cover; background-position: center;">
        <div class=" text-center container">
              <h2>Prochain évènement</h2>
              <h4>A ne pas manquer !</h4>
        </div>
        {% for evenement in evenements %}
        <div class="px-4 my-3 text-center border-bottom">
            <h3>{{evenement.getTitle() }}</h3>
            <img src="{{ vich_uploader_asset(evenement,'imageFile') }}" class="img-fluid" width="550px" height="100%" alt="Image du dernier évènement">
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">{{ evenement.getDescription() |striptags|slice(0, 250) }}</p>
                <p class="fw"> Début de l'évènement : {{evenement.getStart|format_date('long', locale='fr') }} </p>
                <p class="fw"> Fin de l'évènement : {{evenement.getEnd|format_date('long', locale='fr') }} </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <button type="button" class="bouton-or">S'inscrire</button>
                    <button type="button" class="bouton-or">Autres évènements</button>
                </div>
            </div>
        </div>
        {% endfor %}
  </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary" style="background-image: url('{{asset('images/formation_reiki_index.png')}}'); background-size: cover; background-position: center;">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h2>Découvrez ma formation REIKI</h2>
            <h4> Je vous initie à cet art ancien de guérison énergétique pour harmoniser le corps et l’esprit.</h4>
            <div class="d-flex gap-3 justify-content-center lead fw-normal">
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app_formation') }}">
                  En savoir plus >
                </a>
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">
                  Réserver >
                </a>
            </div>
        </div>             
    </div>

    <div class="fond"> 
        <div class="container mt-3 text-center">
              <h2>Découvrez mes prestations</h2>
              <p class="lead text-body-secondary">N'hésitez pas à me contacter pour en savoir plus !</p>
        </div>
          <div class="album mb-3">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{{asset('images/presentation_lucia.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
                    <div class="card-body">
                      <h3 class="card-title">Luminothérapie</h3>
                      <p class="card-text">Éveillez vos sens et illuminez votre esprit avec une expérience lumineuse unique qui ouvre les portes de la perception et enrichit votre vie quotidienne.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{{asset('images/presentation_hypnose.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
                    <div class="card-body">
                    <h3 class="card-title">Hypnose transpersonnelle</h3>
                      <p class="card-text">Je vous transporte dans un voyage intérieur où les frontières de la conscience s’élargissent pour révéler un potentiel illimité.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{{asset('images/presentation_meditation.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
                    <div class="card-body">
                    <h3 class="card-title">Méditation guidée</h3>
                      <p class="card-text">Dans le silence, effectuez un voyage vers la paix intérieure et la clarté mentale, où le tumulte du quotidien
                      se dissipe dans un océan de calme.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="container mt-3 text-center">
            <button type="button" class="bouton-or mb-3">Réserver une séance</button>
        </div>
    </div>

        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8 text-center">
                    <h2>Merci pour votre confiance !</h2>
                    <h4 class="mb-4 pb-2 mb-md-5 pb-md-0">
                        Je suis  profondément touchés par vos retours et témoignages. Un grand merci pour votre confiance 
                        et le temps que vous avez consacré à partager votre expérience.
                    </h4>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card">
                        <div class="card-body py-4 mt-2">
                            <div class="d-flex justify-content-center mb-4">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                                class="rounded-circle shadow-1-strong" width="100" height="100" />
                            </div>
                            <h5 class="font-weight-bold">Teresa May</h5>
                            <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                            <p class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                            ad velit ab hic tenetur.
                            </p>
                        </div>
                    </div>
                </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">Maggie McLoan</h5>
                <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>Autem, totam debitis suscipit saepe
                  sapiente magnam officiis quaerat necessitatibus odio assumenda perferendis
                  labore laboriosam.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <div class="d-flex justify-content-center mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                    class="rounded-circle shadow-1-strong" width="100" height="100" />
                </div>
                <h5 class="font-weight-bold">Alexa Horwitz</h5>
                <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>Cras sit amet nibh libero, in gravida
                  nulla metus scelerisque ante sollicitudin commodo cras purus odio,
                  vestibulum in tempus viverra turpis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
