{% extends 'base.html.twig' %}

{% block title %}Inscription à Eclat d'ORA{% endblock %}

{% block body %}

    <div class="my-3">
    <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_anth.webp')}}'); background-size: cover; background-position: center;">
        <div class="container py-5">
        <h1>Inscription à Eclat d'ORA</h1>
        </div>
    </div>
    </div>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <div class="container">

        <p> Veuillez remplir tous les champs du formulaire pour vous inscrire sur Eclat d'ORA.</p>

        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}

        <div class="mb-3 mx-5">
            <h3> Nom : </h3>
            {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.nom) }}
        </div>

        <div class="mb-3 mx-5">
            <h3> Prénom : </h3>
            {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.prenom) }}
        </div>

        <div class="mb-3 mx-5">
            <h3> Adresse : </h3>
            {{ form_widget(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.adresse) }}
        </div>

        <div class="mb-3 mx-5">
            <h3> Code Postal : </h3>
            {{ form_widget(registrationForm.codePostal, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.codePostal) }}
        </div>

        <div class="mb-3 mx-5">
            <h3> Ville : </h3>
            {{ form_widget(registrationForm.ville, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.ville) }}
        </div>

        <div class="mb-3 mx-5">
            <h3> Numéro de téléphone : </h3>
            {{ form_widget(registrationForm.telephone, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.telephone) }}
        </div>

        <div class="mb-3 mx-5">
            <h3> Email : </h3>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.email) }}
        </div>

        <div class="mb-3 mx-5">
            <h3> Mot de passe :</h3>
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <div class="mb-3 mx-5">
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'checkbox'}}) }}
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <div class="mb-3 mx-5">
            <button type="submit" class="bouton-or">S'inscrire</button>
        </div>

    {{ form_end(registrationForm) }}
</div>

{% endblock %}
