<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="{{asset('images/logo_header.png')}}" alt="Eclat d'Ora" width="120" height="60">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">ECLAT D'ORA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mes services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_formation') }}">Formation Reiki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_evenement') }}">Evènements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_article') }}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_formulaire_contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_presentation') }}">A propos</a>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <p><a class="connecter" href="{{path ('admin')}}">Panneau d'administration</a></p>
            {% elseif is_granted('ROLE_USER') %}
                <p><a class="connecter" href="#{#{{path ('app_blog')}}#}">Votre espace</a></p>
                <p>><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
            {% else %}
                <a href="#{#{{ path('app_register') }}#}"><button type="button" class="btn">S'inscrire</button></a>
                <a href="{{ path('app_login')}}"><button type="button" class="btn btn-outline-secondary">Se connecter</button></a>
            {% endif %}
      </div>
    </div>
</nav>
