{% extends 'base.html.twig' %}

{% block title %}Ma Formation Reiki{% endblock %}

{% block body %}

    <div class="my-3">
    <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_formation_reiki_2.png')}}'); background-size: cover; background-position: center;">
        <div class="container py-5">
        <h2 class="text-body-emphasis">Découvrez ma formation REIKI</h2>
            <p><cite>“Le Reiki est l’Amour, l’Amour est la plénitude, la plénitude est l’équilibre, l’équilibre est le bien-être, le bien-être est la liberté de la maladie.”</cite> Dr. Mikao Usui</p>
        </div>
    </div>
    </div>

    <img src="{{asset('images/bandeau_reiki.png')}}" class="img-fluid" width="100%" height="225" alt="..." >

    <main>
        <div class="container marketing">
            <div class="row featurette my-5">
                <div class="col-md-7">
                    <p class="lead fw-semibold"> Présentation du Reiki Usui </p>
                    <p class="lead">Le Reiki est un mot Japonais composé du préfixe « Rei » qui signifie l’essence Spirituel et « Ki » représentant l’énergie de vie universelle. 
                    On peut le comprendre comme étant la force de vie omniprésente étant à la fois conscience et vibration d’Amour.
                    Dans différentes traditions on la nomme Claire Lumière, Esprit Saint, Ka, Conscience supérieure, la Rouah, l’Âme du monde …</p>
                </div>
                <div class="col-md-5 text-center">
                    <img src="{{asset('images/presentation_symbole_reiki.png')}}" class="img-fluid rounded-circle" width="250" height="250">
                </div>
            </div>

            <div class="row featurette mb-5">
                <div class="col-md-7 order-md-2">
                    <p class="lead fw-semibold"> Le Reiki est une discipline spirituelle et énergétique </p>
                    <p class="lead">C’est une méthode permettant de capter, de canaliser et de transmettre cette force de vie universelle à travers des exercices 
                    simples sur son corps, son esprit et sa conscience.</p>
                    <p class="lead"> Ce n’est pas une religion et elle n’est associé à aucun dogme.</p>
                    <p class="lead">L’objectif du Reiki est d’améliorer sa condition physique et mentale en appelant et en accueillant cette énergie d’Amour omniprésente 
                    grâce à des techniques douces d’imposition des mains.</p>
                    <p class="lead">Au fur et à mesure du temps, on retrouve la paix et l’équilibre entre notre corps et notre esprit nous permettant ainsi de changer notre 
                    loi d’attraction et donc de créer la réalité que nous désirons.</p>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img src="{{asset('images/presentation_symbole_reiki_2.png')}}" class="img-fluid rounded-circle" width="400" height="400">
                </div>
            </div>

            <p class="lead fw-semibold">L’initiation Reiki est une étape importante et sacrée.
            Donner le Reiki en conscience dans un état méditatif permet une forte transmission d’énergie qui ouvre notre cœur et nous relie sur le plan spirituel.
            </p>
            <p class="lead fw-bold text-center">Être Canal Reiki c’est laisser le Reiki agir et aimer à travers soi</p>
            <p class="lead text-center">Pour en savoir plus sur les vertus et les bienfaits du Reiki, vous pouvez consulter mon article en suivant le lien ci-dessous :</p>
            <div class="text-center m-3">
                <button class="btn btn-outline-primary btn-sm text-center">
                    <a href="{{ ('https://www.univers-quantic-shop.com/blog/arts-energetiques/le-reiki-bienfaits-proprietes-et-histoire')}}" target="_blank"> https://www.univers-quantic-shop.com/blog/arts-energetiques/le-reiki-bienfaits-proprietes-et-histoire </a>
                </button>
            </div>

            <div class="row featurette my-5">
                <div class="col-md-7">
                    <p class="lead fw-semibold"> Ma lignée Reiki </p>
                    <p class="lead">Créer par Mikao Usui, le Reiki a vu le jour au Japon.</p>
                    <p class="lead">Ce dernier, à l’âge de 25 ans contracta le choléra. Il vécu lors de son supplice une expérience de mort imminente (E.M.I) ou il rencontra une divinité qui lui 
                    transmis les pratiques de guérisons spirituelles ainsi que les enseignements ésotériques perpétués par Bouddha.</p>
                    <p class="lead">Il consacra dès lors sa vie à l’étude Bouddhique du tantrisme comme le « tantra de l’Eclair »</p>
                    <p class="lead">À l’âge de 49 ans Mikao Usui expérimenta une pratique nommée « Shyu Gyo » l’amenant à se recueillir sur le Mont Kurama ou il jeuna et médita pendant 21 jours. 
                    C’est alors qu’il vis une expérience de révélation et d’Eveil (satori) ou il canalisa les préceptes et les symboles de guérison de l’énergie spirituel qu’il 
                    nomma « Rei-Ki »</p>
                    <p class="lead"> Mikao Usui fonda en 1922, l’association « Usui Reiki Ryoho Gakkai actuellement toujours active et créa
                    le premier centre de soins Reiki près de Tokyo.</p>
                    <p class="lead">Il forma plus de 2000 disciples et 17 Maîtres Reiki dont Chujiro Hayashi qui a obtenu sa maîtrise en 1925</p>
                </div>
                <div class="col-md-5 text-center">
                    <img src="{{asset('images/mikao_usui.png')}}" class="img-fluid rounded-circle" width="400" height="400">
                </div>
            </div>

            <div class="row featurette mb-5">
                <div class="col-md-7 order-md-2">
                    <p class="lead">Il avait alors 47 ans et a créé sa propre « clinique-école » de Reiki.</p>
                    <p class="lead">Le 10 mai 1940, Chujiro Hayashi décède alors que le Japon est en pleine guerre. </p>
                    <p class="lead">Chujiro Hayashi a formé 14 maîtres de Reiki dont Madame Hawayo Takata. </p>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img src="{{asset('images/mikao_usui_2.png')}}" class="img-fluid" width="100" height="100">
                </div>
            </div>

            <div class="row featurette my-5">
                <div class="col-md-7">
                    <p class="lead">Après être tombé malade, Madame Hawayo Takata reçu pendant 4 mois des traitements Reiki à la clinique 
                    de Chujiro Hayashi. Complètement rétablie elle se forma à la Maîtrise Reiki par Mr Chujiro Hayashi en personne, et consacra 
                    le reste de sa vie à perpétuer les enseignements dans tous les états d’Amérique. Elle fonda en 1955 un centre de soin Reiki 
                    en Californie ou elle forma 22 Maîtres Reiki dont Madame Fran Brown. </p>
                </div>
                <div class="col-md-5 text-center">
                    <img src="{{asset('images/Hawayo_Takata.png')}}" class="img-fluid" width="100" height="100">
                </div>
            </div>

            <div class="row featurette mb-5">
                <div class="col-md-7 order-md-2">
                    <p class="lead">Révérente de métiers, elle passa 6 ans avec Mme Takata et passa sa Maîtrise en 1979. Elle a voyagé pendant 30 ans 
                    dans le monde entier pour transmettre les enseignements sacrés. Elle à formé plus d’une vingtaine de Maîtres dont Madame Sylvia Hippert.</p>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img src="{{asset('images/Fran_Brown.png')}}" class="img-fluid" width="100" height="100">
                </div>
            </div>

            <div class="row featurette my-5">
                <div class="col-md-7">
                    <p class="lead">Après 5 ans d’initiations, Mme Hippert enseigna le Reiki sur Metz, Strasbourg et Paris. Pionnière sur le Grand Est de la France, 
                    elle forma plus d’une trentaine de Maître enseignants dont Monsieur Deneyrat Stéphane.</p>
                </div>
                <div class="col-md-5 text-center">
                    <img src="{{asset('images/Sylvia_Hippert.png')}}" class="img-fluid" width="200" height="200">
                </div>
            </div>

            <div class="row featurette mb-5">
                <div class="col-md-7 order-md-2">
                    <p class="lead">Après une vie consacrée à la méditation, au bouddhisme et à la spiritualité, Stéphane Deneyrat rencontre Sylvia Hippert en 1990. 
                    Elle lui transmet les clefs de la Maîtrise Reiki en 1997. Stéphane consacra son âme à la guérison spirituelle et enseigna les préceptes de Mikao 
                    Usui jusqu’en 2023 dans son centre Reiki à Colmar.</p>
                    <p class="lead"> Il a formé 1400 élèves et 35 Maîtres Reiki dont j’ai l’honneur de faire perdurer ses enseignements. </p>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img src="{{asset('images/Deneyrat_Stephane.png')}}" class="img-fluid" width="200" height="200">
                </div>
            </div>
        </div>
    </main>

    <img src="{{asset('images/bandeau_reiki_2.png')}}" class="img-fluid" width="100%" height="225" alt="..." >


<!-- PRIX -->
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="display-4 fw-normal text-body-emphasis">Tarifs</h2>
            <p class="fs-5 text-body-secondary">N'hésitez pas à me contacter si vous souhaitez plus d'informations !</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 mx-5 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3 class="my-0 fw-normal">Séance individuelle</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">90 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1h30</p>
                    </div>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Réserver</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3 class="my-0 fw-normal">1er degré Reiki</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">230 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1 week-end</p>
                    </div>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Réserver</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3 class="my-0 fw-normal">2ème degré Reiki</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">450 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1 week-end</p>
                    </div>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Réserver</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3 class="my-0 fw-normal">3ème degré Reiki</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">980 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1 week-end</p>
                    </div>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Réserver</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3 class="my-0 fw-normal">4ème degré Reiki</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">1450 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1 week-end</p>
                    </div>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Réserver</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
