{% extends 'base.html.twig' %}

{% block title %}Cadeaux{% endblock %}

{% block body %}

    <div class="mb-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/bandeau_cadeau.webp')}}'); background-size: cover; background-position: center; height: 300px; width: 100%">
            <div class="container pt-3">
                <h1> OFFREZ DES CADEAUX </h1>
            </div>
        </div>
    </div>

    <section class="py-3 text-center container">
            <h2>Idée de cadeaux</h2>
            <h3>Envie d'offrir un cadeau bien-être à un proche ?</h3>
            <h3>Faites lui découvrir la méditation, l'hypnose transpersonnelle ou la lumière Lucia</h3>
            <p class="lead">Parfait pour illuminer tous les <strong>moments spéciaux</strong> de la vie, des <strong>anniversaires</strong> à la <strong>Saint-Valentin</strong>, en passant par la <strong>Fête des Mères</strong>, la <strong>Fête des Pères</strong>, <strong>Noël</strong>, etc... !</p>
    </section>

    <div class="album py-3 fond">
        <div class="container">
            <h2 class="text-center"> Cadeaux pour une séance individuelle </h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/hypnose_cadeau.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center pb-4">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Hypnose</h3>
                            <p> Durée : 3 heures </p>
                            <a href="#" class="bouton-or">Prix : 200 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/meditation_cadeau.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center pb-4">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Méditation</h3>
                            <p> Durée : 1 heure </p>
                            <a href="#" class="bouton-or">Prix : 15 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/lucia_cadeau.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Luminothérapie</h3>
                            <div class="pb-3">
                                <select id="duration-select" class="form-select form-select-sm" aria-label="Small select example">
                                <option selected>Choisir votre durée</option>
                                <option value="1">Individuelle 1 heure</option>
                                <option value="2">Individuelle 2 heures</option>
                                <option value="3">Duo 1 heure</option>
                                <option value="4">Duo 2 heures</option>
                                </select>
                            </div>
                            <a id="lucia-price" href="#" class="bouton-or">Prix : 90 €</a> <!-- CODE JS !!! -->
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/reiki_cadeau1.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center pb-4">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Reiki</h3>
                            <p> Durée : 1 heure </p>
                            <a href="#" class="bouton-or">Prix : 90 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/cadeau_soins.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center pb-4">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Soin Vibratoire</h3>
                            <p> Durée : 1 heure </p>
                            <a href="#" class="bouton-or">Prix : 80 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/services_constellation_boncadeaux.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center pb-4">
                            <h4 class="card-text">Offrez une séance Constellation</h4>
                            <h3>Constellation Familliale</h3>
                            <p> Durée : 1 heure </p>
                            <a href="#" class="bouton-or"> Prix : 125 €</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-3">
        <h2 class="text-center"> Je vous propose un bon cadeau à montant libre </h2>
        <div class="text-center my-3">
            <img src="{{asset('images/meditation_cadeau.webp')}}" class="img-fluid" width="568px" height="569px" alt="..." >
            <div class="card-body text-center py-3">
                <h4 class="card-text">Choisissez le montant de votre bon cadeau</h4>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
                        <div class="input-group mb-3">
                            <input id="montant-cadeau" class ="form-control" type="number" id="montant-cadeau" name="montant-cadeau" min="15" max="" placeholder="Votre montant"/>
                            <span class="input-group-text">€</span></br>
                        </div>
                    </div>
                <button class="bouton-or" type="submit">Valider votre montant</button> <!-- CODE JS !!! -->
            </div>
        </div>
    </div>

    <div class="album py-3 fond">
        <div class="container">
            <div class="text-center mb-5">
                <h2> Les séances se déroulent dans mes locaux :</h2>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h3>Adresse : </h3>
                    <h4>Espace Omoondo</h4>
                    <h4> 6 rue du Général Rapp </h4>
                    <h4> 67450 Mundolsheim</h4>
                </div>
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10546.199451537741!2d7.706118424525094!3d48.637595290846185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c9015596c159%3A0x4278c5d1a1d7ef92!2sUnivers%20Quantic%20Shop!5e0!3m2!1sfr!2sfr!4v1712188198044!5m2!1sfr!2sfr" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center my-5">
        <h2 class="" > Vous souhaitez en savoir plus sur mes prestations ?</h2>
        <a href="{{path('app_hypnose')}}" class="bouton-or m-3">Hypnose</a>
        <a href="{{path('app_lucia')}}" class="bouton-or m-3">Luminothérapie</a>
        <a href="{{path('app_meditation')}}" class="bouton-or m-3">Méditation</a>
        <a href="{{path('app_formation')}}" class="bouton-or m-3">Reiki</a>
        <a href="{{path('app_soins')}}" class="bouton-or m-3">Soins énergétiques</a>
        <a href="{{path('app_constellation')}}" class="bouton-or m-3">Séance Constellation Familliale</a>
    </div>

<script>
    const prices = { 1: "90 €", 2: "150 €", 3: "160 €", 4: "250 €" };
    const selectElement = document.getElementById("duration-select");
    const priceButton = document.getElementById("lucia-price");

    selectElement.addEventListener("change", () => {
        const selectedValue = selectElement.value;
        priceButton.textContent = `Prix : ${prices[selectedValue] || "90 €"}`;
    });
</script>

{% endblock %}
