{% extends 'base.html.twig' %}

{% block title %}Cadeaux{% endblock %}

{% block body %}

    <div class="mb-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/bandeau_cadeau.webp')}}'); background-size: cover; background-position: center; height: 300px; width: 100%">
            <div class="container pt-3">
                <h1> OFFREZ DES CADEAUX </h1>
            </div>
        </div>
    </div>

    <section class="py-3 text-center container">
            <h2>Idée de cadeaux</h2>
            <h3>Envie d'offrir un cadeau bien-être à un proche ?</h3>
            <h3>Faites lui découvrir la méditation, l'hypnose transpersonnelle ou la lumière Lucia</h3>
            <p class="lead">Parfait pour illuminer tous les <strong>moments spéciaux</strong> de la vie, des <strong>anniversaires</strong> à la <strong>Saint-Valentin</strong>, en passant par la <strong>Fête des Mères</strong>, la <strong>Fête des Pères</strong>, <strong>Noël</strong>, etc... !</p>
    </section>

    <div class="album py-3 fond">
        <div class="container">
            <h2 class="text-center"> Cadeaux pour une séance individuelle </h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/services_hypnose.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Hypnose</h3>
                            <p> Durée : 3 heures </p>
                            <a href="#" class="bouton-or">Prix : 200 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/services_meditation.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Méditation</h3>
                            <p> Durée : 1 heure </p>
                            <a href="#" class="bouton-or">Prix : 15 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/services_lucia.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h4 class="card-text">Offrez une séance</h4>
                            <h3>Séance Luminothérapie</h3>
                            <p> Durée : choisir votre durée </p> <!--implémentation checkbox-->
                            <a href="#" class="bouton-or">Prix : 90 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/reiki_cadeau.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séance Reiki</h3>
                            <h4 class="card-text">Offrez une séance de reiki</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">1 séance - 90 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/services_soins.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séance Soin Vibratoire</h3>
                            <h4 class="card-text">Offrez un soin vibratoire</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">1 séance - 80 €</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/cadeau_medium1.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séance Médiumnique</h3>
                            <h4 class="card-text">Offrez une séance médiumnique</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">1 séance - 80 €</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-3">
        <div class="container">
            <h2 class="text-center"> Je vous propose différents forfaits à offrir </h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/hypnose_cadeau.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séances hypnoses</h3>
                            <h4 class="card-text">Pack de séances d'hypnoses</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">5 séances<br>prix </a>
                            <a href="#" class="bouton-or">10 séances<br>prix</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/meditation_cadeau.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séances méditations</h3>
                            <h4 class="card-text">Pack de séances de méditations</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">5 séances<br>prix </a>
                            <a href="#" class="bouton-or">10 séances<br>prix</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/lucia_cadeau.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séances Lucias</h3>
                            <h4 class="card-text">Pack de séances Luminothérapies</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">5 séances<br>prix </a>
                            <a href="#" class="bouton-or">10 séances<br>prix</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/reiki_cadeau1.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séances Reikis</h3>
                            <h4 class="card-text">Pack de séances de Reiki</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">5 séances<br>prix </a>
                            <a href="#" class="bouton-or">10 séances<br>prix</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/cadeau_soins.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séances Soins Energétiques</h3>
                            <h4 class="card-text">Pack de soins énergétiques</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">5 séances<br>prix </a>
                            <a href="#" class="bouton-or">10 séances<br>prix</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-3">
                        <img src="{{asset('images/cadeau_medium.webp')}}" class="bd-placeholder-img card-img-top" width="" height="" alt="..." >
                        <div class="card-body text-center">
                            <h3>Séances Médiumniques</h3>
                            <h4 class="card-text">Pack de séances médiumniques</h4>
                            <p> Prix € </p>
                            <a href="#" class="bouton-or">5 séances<br>prix </a>
                            <a href="#" class="bouton-or">10 séances<br>prix</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-3 fond">
        <div class="container">
            <div class="text-center mb-5">
                <h2> Les séances se déroulent dans mes locaux :</h2>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h3>Adresse : </h3>
                    <h4>Espace Omoondo</h4>
                    <h4> 6 rue du Général Rapp </h4>
                    <h4> 67450 Mundolsheim</h4>
                </div>
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10546.199451537741!2d7.706118424525094!3d48.637595290846185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c9015596c159%3A0x4278c5d1a1d7ef92!2sUnivers%20Quantic%20Shop!5e0!3m2!1sfr!2sfr!4v1712188198044!5m2!1sfr!2sfr" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center my-5">
        <h2 class="" > Vous souhaitez en savoir plus sur mes prestations ?</h2>
        <a href="{{path('app_hypnose')}}" class="bouton-or m-3">Hypnose</a>
        <a href="{{path('app_lucia')}}" class="bouton-or m-3">Luminothérapie</a>
        <a href="{{path('app_meditation')}}" class="bouton-or m-3">Méditation</a>
        <a href="{{path('app_formation')}}" class="bouton-or m-3">Reiki</a>
        <a href="{{path('app_soins')}}" class="bouton-or m-3">Soins énergétiques</a>
        <a href="{{path('app_medium')}}" class="bouton-or m-3">Séance médiumnique</a>
    </div>


{% endblock %}
