{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}

    <div class="my-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_evenements.png')}}'); background-size: cover; background-position: center; height: 300px; width: 100%">
            <div class="container py-5">
                <h1> Retrouvons-nous à mes évènements !</h1>
            </div>
        </div>
    </div>

    {% for evenement in evenements %}

        <div class="container">
            <div class="card text-center m-5">
                <h2 class="card-header"> {{ evenement.getTitle() }}</h2>
                <div class="card-body">
                    <img src="{{asset('images/exemple_evenement.png')}}" class="img-fluid" width="550px" height="100%" alt="...">
                    <p class="card-text"> {{ evenement.getDescription() | raw  }} </p>
                    <p class="fw-medium"> L'évènement débutera le {{evenement.getStart|format_date('long', locale='fr') }} </p>
                    <p class="fw-medium"> et se terminera le {{evenement.getEnd|format_date('long', locale='fr') }} </p>
                    <p class="fw-bold"> Prix : {{ evenement.getPrice()}} € </p>
                    <a href="#" class="btn btn-primary">S'inscrire à l'évènement</a>
                </div>
                <div class="card-footer text-body-secondary">
                    Créé le {{evenement.getCreateAt|format_date('long', locale='fr') }}
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
