{% extends 'base.html.twig' %}

{% block title %}Hypnose transpersonnelle{% endblock %}

{% block body %}

    <div class="container">
        <h1> L’Hypnose Transpersonnelle ®, le voyage vers la « conscience supérieure »</h1>
    </div>

    <div class="container">
        <section class="row featurette my-5">
            <div class="col-md-7">
                <p class="lead">Dévelopée par Séverine Barbier, cette branche de l’hypnose nous fait voyager dans nos vies passées ou futures,
                accompagnés de nos guides et de notre Conscience Supérieure.</p>
                <p class="lead">Plus communément appelée Hypnose Spirituelle ou hypnose régressive et grâce à l’enrichissement de la Maieusthésie
                développée par Thierry Tournebise, l’Hypnose Transpersonnelle ® est un puissant outil de prise de conscience et de libération émotionnelle.</p>
                <p class="lead">Lors d’un voyage hypnotique, je vous amène à la découverte de vos vies antérieures. Nous serons aussi amenées à se connecter à la Conscience
                Supérieure (l’architecte de notre incarnation) ainsi qu’à vos guides spirituels ou vos Êtres de Lumière. </p>
            </div>
            <div class="col-md-5 text-center">
                <img src="{{asset('images/presentation_symbole_hypnose.webp')}}" class="img-fluid" width="100%" height="450px">
            </div>
        </section>

        <section class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2> Quels sont les bénéfices et les enseignements d’une séance d’Hypnose Transpersonnelle ® ? </h2>
                <ul>
                    <li class="lead">Répondre aux questions existentielles que nous nous posons : quelle est ma mission de vie ? Pourquoi ai-je vécu tel ou tel traumatisme ?
                    Quels liens d’âme j’entretiens avec mes proches ? Pourquoi ce schéma se répète constamment dans ma vie ? Etc.. Mais aussi tout questionnement sur la sphère
                    affective, familiale, professionnelle et spirituelle.</li>
                    <li class="lead">Trouver l’origine de vos problèmes de santé pour les conscientiser et amortir un processus de guérison interne.</li>
                    <li class="lead">Surmonter les traumatismes de votre passé afin de décristalliser l’énergie engrammée dans vos cellules.</li>
                    <li class="lead">Transmuter vos blocages psychologiques pour en faire une force.</li>
                    <li class="lead">Effectuer des libérations émotionnelles et dissoudre le sentiment de colère.</li>
                    <li class="lead">Se libérer des schémas relationnels cycliques de votre sphère affective.</li>
                    <li class="lead">Retrouver la mémoire en cas d’amnésie infantile pour de conscientiser le traumatisme lié. </li>
                    <li class="lead">Aider à traverser une phase de deuil ou de dépression pour reprendre confiance en soi et retrouver la joie de vivre.</li>
                    <li class="lead">Se libérer des attachements de nos corps éthériques tels que les entités, les défunts, les parasites, etc. </li>
                    <li class="lead">Se connecter avec amour et conscience à notre âme pour nous permettre de faire les meilleurs choix possibles. </li>
                    <li class="lead"> Obtenir des nettoyages et des soins énergétiques de nos guides pour faire évoluer notre conscience, purifier notre aura et obtenir des
                        réponses à nos questions. </li>
                </ul>
            </div>

            <div class="col-md-5 order-md-1 text-center">
                <img src="{{asset('images/image_hypnose.webp')}}" class="img-fluid rounded-circle" width="400" height="400">
            </div>
        </section>
        <h3 class="pb-3">L’hypnose Transpersonnelle ® s’adresse à toutes les personnes majeures désireuses d'effectuer un travail de développement personnel et spirituel en profondeur.</h3>

        <section class="row featurette my-3">
            <h2>Le déroulé d’une séance d’Hypnose en présentiel</h2>
            <p class="lead">Afin de préparer la séance, vous recevrez quelques jours avant notre rendez-vous un e-mail avec quelques conseils de bonnes pratiques ainsi qu’un audio contenant une
            méditation guidée qui vous permettra de vous habituer à ma voix hypnotique. Je vous recommande de l’écouter 4 à 5 fois avant la séance.</p>
            <p class="lead"> Il faut savoir qu’une séance d’Hypnose Transpersonnelle ® dure entre 2 à 4 heures.</p>
            <p class="lead">Le jour de la séance nous allons respecter plusieurs étapes importantes. </p>
            <p class="lead">Tout d’abord, nous consacrerons 30 à 45 min à un temps d’échange où nous aborderons plusieurs sphères de votre vie et où nous ciblerons vos attentes. Cela nous permettra
            de poser des questions pertinentes lors de la transe hypnotique avec vos guides ou la conscience supérieure. </p>
            <p class="lead">Ce sera aussi le moment de répondre à toutes vos questions sur le processus hypnotique. On effectuera quelques tests de réceptibilité à l’hypnose afin que je trouve la
            façon la plus juste et rassurante de procéder à l’induction (mise en état d’hypnose). </p>
            <p class="lead">Dans un second temps, je vous guiderai en douceur vers un état d’hypnose profond. Puis je vous accompagnerai vers l’exploration d’une ou plusieurs vies, et nous prendrons
            aussi un temps pour échanger avec vos guides et la Conscience Supérieure. </p>
            <p class="lead">Le but étant d’obtenir des réponses à vos questions. Il est aussi très fréquent que vous receviez à ce moment-là des soins énergétiques ou des soins de libération
            d’attachements (entités, parasites, blocages). </p>
            <p class="lead">Pour finir, je vous ramènerai en douceur à votre état de conscience normal. Nous intègrerons la séance à travers un échange sur ce que vous avez vécu et je vous donnerai
            quelques conseils afin de bien assimiler les informations et les enseignements que vous avez reçus.</p>
            <p class="lead">Le temps d’hypnose profond peut durer jusqu’à 2 h et il est normal que vous ne vous souveniez pas de tous les détails. C’est pour cette raison que la séance est
            enregistrée. </p>
            <p class="lead">Vous pourrez la télécharger 48 h après notre rendez-vous directement sur votre espace personnel en vous connectant sur le site www.eclatdora.fr </p>
            <p class="lead">Je vous recommande de la réécouter plusieurs fois afin de bien intégrer les messages et les soins reçus. Parfois on redécouvre des messages cachés et des synchronicités
            plusieurs jours plus tard.</p>
        </section>

        <section class="row featurette my-3">
            <h2>Le déroulé d’une séance d’Hypnose en visio</h2>
            <p class="lead">Le procédé est le même qu’en présentiel. Le succès d’une séance d’hypnose est déterminé par la capacité qu’a le consultant de lâcher prise sur ses peurs et son mental.
            De ce fait, avec une séance en ligne, l'obtention des résultats reste le même qu’en présentiel.</p>
            <p class="lead">L’avantage est que vous évitez les déplacements et que vous vivez la séance dans une endroit familier.</p>
            <ul>
                <p class="lead">Cependant, il faut respecter certaines bonnes pratiques :</p>
                <li class="lead">Être installé confortablement dans un endroit calme et s’assurer de ne pas être dérangé. Le téléphone devra être éteint.</li>
                <li class="lead">Favoriser un ordinateur avec webcam. Assurer-vous qu’il soit suffisamment chargé ou alimenté et que votre connexion internet soit de bonne qualité. Le logiciel utilisé est Skype.</li>
                <li class="lead">Privilégiez la positon allongée ou semi-allongée. Il me sera nécessaire de vous voir pendant la séance afin de vous accompagner en toute sécurité. </li>
                <li class="lead">Utilisez un casque audio Bluetooth ou des écouteurs filaires pour vous permettre de bien entendre ma voix et de vous couper des sons extérieurs.</li>
            </ul>
        </section>

        <section class="row featurette my-3">
            <h2>Le déroulé d’une séance d’Hypnose avec un médium</h2>
            <p class="lead">Certaines personnes ont du mal à lâcher prise et à mettre leur mental de côté. Pour éviter la frustration d’une séance contrôlée par le mental, je propose des séances assistées par un médium surrogate (représentant).</p>
            <p class="lead">La principale différence avec une séance classique réside dans le fait que c’est le médium qui est hypnotisé et qui captera les réponses de vos vies antérieures, de vos guides et de la Conscience Supérieure.
            Le consultant est simplement spectateur et prend les informations provenant de la canalisation du médium. </p>
            <p class="lead">De ce fait, avant la séance il n’y a pas de préparations à effectuer. </p>
            <p class="lead">Les séances se font obligatoirement en ligne. Vous consentez à laisser le médium se connecter à vos énergies pour que le processus soit fluide et clair.</p>
            <p class="lead">En fin de séance, nous échangerons sur le contenu avec le médium, et comme une séance classique, la séance est enregistrée et vous sera mise à disposition pour que vous puissiez la réécouter à votre convenance.</p>
        </section>

        <section class="row featurette my-3">
            <div class="col-md-7">
                <h2>L’État d’hypnose</h2>
                <p class="lead">L’état d’hypnose est sans risque et n’est pas dangereux pour la santé car c’est un état naturel que nous atteignons plusieurs fois par jour</p>
                <p class="lead">Exemple : quand nous conduisons, quand nous effectuons une tâche de manière systématique ou même quand nous nous préparons au sommeil.</p>
                <p class="lead">Tout le monde est hypnotisable mais n’a pas le même niveau de sensibilité à l’état de transe hypnotique. Tout va dépendre de la capacité à mettre le mental de côté car c’est lui qui va laisser passer, filtrer ou
                opposer l’information qui descend de votre Conscience Supérieure. </p>
                <p class="lead">C’est pour cette raison que cette technique ne convient pas aux personnes ayant des troubles de santé mentale ou de la personnalité, tels que (liste non exhaustive)
                	<ul class="lead">
                        <li>Les troubles de l’anxiété (obsessionnels, compulsifs…) ;</li>
                	    <li>Les troubles de l’humeur (troubles bipolaires…) ;</li>
                	    <li>Les problèmes de mémoire à court terme (Alzheimer…) ;</li>
                	    <li>Les psychoses (schizophrénie, paranoïa, manies et autres troubles psychotiques).</li>
                    </ul></p>
                <p class="lead">Les psychologues ou les psychiatres sont les professionnels de santé les plus compétents pour vous aider.</p>
            </div>
            <div class="col-md-5 text-center">
                <img src="{{asset('images/image_hypnose1.webp')}}" class="img-fluid" width="100%" height="450px">
            </div>
        </section>

        <section class="row featurette">
            <p class="lead">Une séance d’Hypnose Transpersonnelle ® peut être éprouvante car elle peut générer des remontées émotionnelles fortes, des souvenirs douloureux ou des prises de conscience difficiles à accepter. Cependant
            ces informations ne seront jamais traumatiques car mon rôle est de veiller à votre sécurité et quoi qu’il arrive, vous reviendrez toujours en douceur à votre état d’éveil normal.</p>
        </section>
    </div>

    <img src="{{asset('images/bandeau_hypnose.wepb')}}" class="img-fluid" width="100%" height="225" alt="..." >


    <div class="container mt-3">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="text-center">Tarifs</h2>
            <p class="fs-5 text-body-secondary fw-bold"> Modalités de paiement :  </p>
            <p class="fs-5 text-body-secondary"> - Séance en présentiel : acompte de 30 % sur site à la réservation d’une séance, non remboursable en
            cas d’annulation. Le solde peut être payé en mains propres sur place ou par règlement intégral sur site. </p>
            <p class="fs-5 text-body-secondary">- Séance en visio ou avec un médium : règlement intégral sur le site.</p>
        </div>
    </div>
<!-- PRIX -->
   <div class="row row-cols-1 row-cols-md-3 mb-3 mx-5 text-center justify-content-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h3>Séance en présentielle</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title">200 €</h4>
                <div class="list-unstyled mt-3 mb-4">
                    <p>Durée : 3 heures</p>
                </div>
                {{ include('partials/_add_to_cart_button.html.twig', {
                    id: 'hypnose-presentiel-acompte',
                    titre: 'Hypnose présentielle (acompte)',
                    duree: '3 heures',
                    prix: 60,
                    label: 'Acompte: 60 €'
                }) }}
                <br>
                {{ include('partials/_add_to_cart_button.html.twig', {
                    id: 'hypnose-presentiel',
                    titre: 'Séance Hypnose présentielle',
                    duree: '3 heures',
                    prix: 200,
                    label: 'Réserver'
                }) }}
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h3>Séance visio</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title">200 €</h4>
                <div class="list-unstyled mt-3 mb-4">
                    <p>Durée : 3 heures</p>
                </div>
                {{ include('partials/_add_to_cart_button.html.twig', {
                    id: 'hypnose-visio',
                    titre: 'Séance Hypnose visio',
                    duree: '3 heures',
                    prix: 200
                }) }}
            </div>
        </div>
    </div>
</div>

    <p class="text-end me-5"><a class="text-warning link-offset-2 link-underline link-underline-opacity-0 fw-bold" href=" {{path('app_services')}}">Revenir aux services ↣</a></p>

{% endblock %}