{% extends 'base.html.twig' %}

{% block title %}Expérience de Lumière Lucia{% endblock %}

{% block body %}

    <div class="container py-3">
        <h1>Expérience de Lumière Lucia</h1>

        <div class="row g-0 flex-md-row mb-4 h-md-250 position-relative">
            <div class="col py-5 d-flex flex-column position-static">
                <p class="lead fs-3">
                    <em>« Si vous voulez trouver les secrets de l’univers, pensez en termes d’énergie, de fréquence, d’information et de vibration »</em>
                    Nikola TESLA
                </p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="{{asset('images/nikola_tesla.webp')}}" class="img-fluid" width="200" height="200">
            </div>
        </div>


        <div class="row featurette mb-5">
            <h2>Qu’est-ce que la lumière Lucia N°3 ?</h2>
            <p class="lead">La Lucia est un système de neurostimulation par ondes lumineuses pulsées qui a pour effet d’activer la glande pinéale, et de déclencher des formes 
            d’ondes cérébrales (synchro thérapie) qu’on observe après plusieurs années de pratique de méditation. Elle se caractérise par la perceptions d’une symphonie de couleurs 
            kaléidoscopiques (mandala, géométrie sacrée, vortex etc..)</p>
                <div class="col-md-7 order-md-2">
                    <p class="lead">La Lucia N°3 s’appuie sur les expériences scientifiques qui ont démontrés que la lumière est un vecteur de communication entre les cellules d’un même corps. 
                    Son objectif est d’augmenter le rendement neuronal en stimulant l’ensemble des neurones du cortex cérébrale. De ce fait, elle va réveiller les neurones en sommeil et ainsi 
                    améliorer les capacités cognitives et comportemental du consultant.
                    La séance s’effectue les yeux fermés. La lumière pulsée va transporter l’information neuronale directement au cerveau par le biais du nerf optique. Elle va 
                    stimuler l’ensemble du système énergétique et cellulaire en libérant les blocages, traumatismes et émotions inconscientes.
                    Cette technologie brevetée est aujourd’hui utilisée dans plusieurs pays par des hypnothérapeutes, des sophrologues, des psychologues et des énergéticiens en
                    médecine douce.</p>
                </div>
            <div class="col-md-5 order-md-1">
                <img src=" {{ asset('images/description_lucia.webp')}}" class="img-fluid" alt="Séance Lucia">
            </div>   
        </div>     

        <div class="container text-center">
            <h2> Palmarès de la Lucia N°3 </h2>
            <div class="row">
                <div class="col text-center m-5">
                    <img src=" {{ asset('images/medaille_or_lucia.webp')}}" class="img-fluid" alt="Séance Lucia"> <br>
                    <ul class="list-group">
                        <li class="lead list-group link-warning"> Médaille d'or</li> 
                        <li class="list-group">IENA : Ideas – Inventions – New Products,</li>
                        <li class="list-group">Nuremberg, Germany 2011</li>
                    </ul>
                </div>
                <div class="col text-center m-5">
                    <img src=" {{ asset('images/medaille_or1_lucia.webp')}}" class="img-fluid" alt="Séance Lucia"> <br>
                    <ul class="list-group">
                        <li class="lead list-group link-warning"> Médaille d'or</li> 
                        <li class="list-group">International Invention Fair</li>
                        <li class="list-group">of the Middle East, Kuwait 2010</li>
                    </ul>
                </div>
                <div class="col text-center m-5">
                    <img src=" {{ asset('images/medaille_bronze_lucia.webp')}}" class="img-fluid" alt="Séance Lucia"> <br>
                    <ul class="list-group">
                        <li class="lead list-group link-warning"> Médaille bronze</li> 
                        <li class="list-group">Salon International</li>
                        <li class="list-group">Des Inventions De Genève, Suisse 2010</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row featurette my-5">
            <div class="col-md-7">
                <h2>La lampe Hypnagogique Lucia N°3 </h2>
                <p class="lead pt-3">Grâce à ses 8 leds blanches et son halogène central, la Lucia allie douceur et travail en profondeur.
                Conçu en 2009 en Autriche, elle dispose de 180 programmes pilotés par ordinateur pour répondre à tous types de demandes. Que ce soit simplement pour de la relaxation, pour élargir 
                son champ de conscience, pour effectuer un travail d’induction hypnotique en profondeur, pour améliorer ses capacités motrices et cognitives, pour recevoir des messages de son 
                inconscient et du monde subtils, une séance Lucia changera votre vision sur la luminothérapie.</p>
            </div>
            <div class="col mt-3 text-center">
                <img src=" {{ asset('images/lampe_lucia.webp')}}" class="img-fluid" alt="Lampe Hypnagogique Lucia">
            </div>
        </div>

        <div class="container text-center mb-5">
            <h3 class="fs-3 fst-italic"> La Lucia N°3 agit en profondeur sur les différents plans vibratoires. </h3>
        </div>

        <h2> Déroulement d'une séance Lucia N°3 </h2>
        <p class="lead">L’expérience Lucia se fait les yeux fermés, allongée sur un grand matelas confortable, casque audio sur les oreilles créant ainsi une ouverture sur une expérience 
        unique. Une séance peut se dérouler à deux.</p>
        <p class="lead">Dans un premier temps, nous nos entretenons sur les objectifs et les attentes du soins Lucia. Puis nous préparons énergétiquement les consultants à recevoir les 
        bienfaits d’une séance Lucia. Ce protocole énergétique dure environs 10 min.</p>
        <p class="lead">Après quelques règles d’usages et de sécurité, nous choisissons parmi 3 programmes l’intensité la plus adaptée. Et c’est parti pour un voyage de plus de 40 min. 
        Vous pouvez étendre les séances jusqu’à 1h20 de soins. </p>
        <p class="lead">Certaines personnes ont tendances à s’endormir, cela est tout à fait normal et n’empêche en aucun cas l’information de passer et le soin de se dérouler parfaitement 
        bien !  </p>


        <div class="row featurette my-5">
            <div class="col-md-7">
                <h2> Les bienfaits peuvent se ressentir pendant une semaine </h2>
                <ul class="list-group">
                    <li class="lead list-group py-1">Atteinte rapide d’un niveau de relaxation avancé (qui équivaut à une longue méditation) </li> 
                    <li class="lead list-group pb-1">Dilatation du champ énergétique</li>
                    <li class="lead list-group pb-1">Rééquilibrage et apaisement du système nerveux</li>
                    <li class="lead list-group pb-1">Augmentation de la fréquence vibratoire</li>
                    <li class="lead list-group pb-1">Expansion du champ de conscience et développement de la créativité</li>
                    <li class="lead list-group pb-1">Amélioration du sommeil</li>
                    <li class="lead list-group">Libération de charge émotionnelle et mentale possible</li>
                    <li class="lead list-group py-1">Sentiment de bien-être, de joie et de lâcher-prise</li>
                </ul>
            </div>
            <div class="col mt-3 text-center">
                <img src="{{asset('images/activation_cerebrale_lucia.webp')}}" class="img-fluid" width="350" height="350">
            </div>
        </div>

        <p class="lead fw-semibold">L’aventure Lucia est une immersion unique permettant de créer un pont vers une conscience plus élevée. C’est un outil de développement
        fonctionnel qui permet de reprendre contact avec le potentiel de notre vraie nature.</p>

        <div class="container text-center mb-5">
            <img src="{{asset('images/activite_cerebrale.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
        </div>

        <div class="container mb-5">
            <h2>SYNCHRONISATION DES 2 HÉMISPHÈRES DU CERVEAU</h2>
            <h3 class="fs-3 semi-bold text-center">La synchrothérapie</h3>
            <p class="lead">Utilisation de diverses technologies pour modifier les mécanismes du cerveau et ouvrir de nouvelles perspectives :
            Lumière hypnagogique LUCIA N°3 et « son » Hémi-Sync</p>
            <p class="lead">Ainsi, en écoutant des sons Hémi-Sync associés à la technologie LUCIA N°3, on peut accélérer ou ralentir les ondes 
            cérébrales et synchroniser l’hémisphère droit et gauche.</p>
            <div class="container text-center">
                <img src="{{asset('images/lucia_synchronisation.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
            </div>
        </div>

        <div class="container mb-5 pt-3">
            <p class="lead fs-2 fw-bold text-center">LES DIFFERENTES ONDES CEREBRALES :</p>
            <h3 class="fs-3 semi-bold">Ondes Gamma :</h3>
            <p class="lead">Grande activité cérébrale, processus créatifs. Régénération importante. Etat méditatif avancé.</p>
            <div class="container text-center">
                <img src="{{asset('images/gamma.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
            </div>
            <h3 class="fs-3 semi-bold">Ondes Bêta :</h3>
            <p class="lead">Activités conscientes, veille active : attention, concentration, stress, anxiété…</p>
            <div class="container text-center">
                <img src="{{asset('images/beta.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
            </div>
            <h3 class="fs-3 semi-bold">Ondes Alpha :</h3>
            <p class="lead">Relaxation légère, Rêverie, activités de routine.</p>
            <div class="container text-center">
                <img src="{{asset('images/alpha.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
            </div>
            <h3 class="fs-3 semi-bold">Ondes Thêta :</h3>
            <p class="lead">Relaxation profonde, plein éveil (intuition, vision, astral) état méditatif profond.</p>
            <div class="container text-center">
                <img src="{{asset('images/theta.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
            </div>
            <h3 class="fs-3 semi-bold">Ondes Delta :</h3>
            <p class="lead">Sommeil profond sans rêves. Régénération</p>
            <div class="container text-center">
                <img src="{{asset('images/delta.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
            </div>
        </div>

        <div class="row featurette mb-3 pt-3">
            <div class="col-md-7 order-md-2">
                <h2> La glande pinéale </h2>
                <p class="lead">Aussi appelée 3ème œil, la glande pinéale (épiphyse) est une glande endocrine qui régule les rythmes biologiques vitaux (mélatonine) 
                et assure le développement du système reproductif.</p>
                <p class="lead"> Considérée par bon nombre de traditions comme le siège des perceptions extra-sensorielles, c’est l’interface entre la dimension physique 
                et spirituelle.</p>
                <p class="lead">Au fil du temps elle a tendance à se calcifier, à s’entartrer (cristaux d’apatite), par notre mode de vie polluant</p>
            </div>
            <div class="col-md-5 order-md-1 text-center">
                <img src="{{asset('images/glande_pineale.webp')}}" class="img-fluid" width="400" height="400">
            </div>
        </div>

        <div class="container">
            <div class="container text-center">
                <img src="{{asset('images/glande_pineale2.webp')}}" class="img-fluid mt-1" width="600" height="100%" alt="..." >
            </div>
            <p class="lead text-center pt-3">L’expérience Lucia N°3 permet une décalcification de la glande pinéale et favorise la production de DMT (diméthyltryptamine).</p>
        </div>

        <div class="row featurette my-3 pt-3">
            <div class="col-md-7">
                <h2>La dyméthyltryptamine (DMT)</h2>
                <p class="lead pt-3">C’est une molécule utilisée depuis des siècles pour ses propriétés médicinales et psychotropes par les guérisseurs et chamans 
                (Brevage d’Ayahuasca).</p>
                <p class="lead pt-3">On comprend aujourd’hui, grâce aux travaux du Dr.Rick Strassmann (qui a écrit « DMT : la Molécule de l’Esprit« )
                qu’une lumière claire et intense stimule la libération de DMT et éveille notre glande pinéale.</p>
                <p class="lead pt-3">Les sujets de cette étude attribuent à cette expérience impressionnante un pouvoir de guérison et des propriétés de révélations existentielles.</p>
            </div>
            <div class="col mt-5 text-center">
                <img src="{{asset('images/dmt.webp')}}" class="img-fluid" width="350" height="350">
            </div>
        </div>

        <div class="container mb-3">
            <h2 class="text-center">Le projet Lucia</h2>
            <div class="container text-center">
                <img src="{{asset('images/projet_lucia.webp')}}" class="img-fluid" width="600" height="100%" alt="..." >
            </div>
            <p class="lead pt-3">Deux scientifiques autrichiens sont à l’origine de la Lucia, (créée en 2009) le médecin neurologue Dirk PROEKL et le psychologue clinicien Engelbert 
            WINKLER.</p>
            <p class="lead">Le Dr WINKLER a vécu une expérience de mort imminente dans son enfance qui l’amena à explorer le phénomène. Se révèle à lui une évidence :</p>
            <p class="lead">« Toutes les expériences d’EMI relatées sont précédées par une lumière intense conduisant à des états de perception et de conscience plus vastes ».</p>
            <p class="lead">On parle souvent de déclenchement de guérison spontané et de « retour à l’essentiel », ce qui poussa les concepteurs à explorer ce potentiel bénéfique.</p>
            <p class="lead">Le Dr. Winkler inspiré par une série de rêves récurrents, reçus comme message que <em>:« La LUCIA N°3 a été créée pour améliorer le champs de conscience et les fonctions cérébrales»</em></p>
        </div>
    </div>

    <img src="{{asset('images/mandala.webp')}}" class="img-fluid" width="100%" height="225" alt="..." >

    <div class="container mt-3">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="text-center">Les tarifs d’une séance de Lumière LUCIA N°3</h2>
            <p class="fs-5 text-body-secondary">Malgré le coût onéreux de cette technologie, un effort tarifaire conséquent vous est proposé afin de partager cette expérience avec le plus grand nombre.</p>
            <p class="fs-5 text-danger text-opacity-100 fw-bold">L’expérience est déconseillée : Pour les personnes épileptiques ou hypersensibles à la lumière stroboscopique, femmes enceintes, enfants en bas âges. 
            Peut convenir aux enfants à partir de 8 ans.</p>
        </div>
    </div>
<!-- PRIX -->
    <div class="row row-cols-1 row-cols-md-3 mb-3 mx-5 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>Séance individuelle</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">90 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1h</p>
                    </div>
                    <button type="button" class="bouton-or">Réserver</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>Séance duo</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">160 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 1h</p>
                    </div>
                    <button type="button" class="bouton-or">Réserver</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>Séance individuelle</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">150 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 2h</p>
                    </div>
                    <button type="button" class="bouton-or">Réserver</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>Séance duo</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">250 €</h4>
                    <div class="list-unstyled mt-3 mb-4">
                        <p>Durée: 2h</p>
                    </div>
                    <button type="button" class="bouton-or">Réserver</button>
                </div>
            </div>
        </div>
    </div>

    <p class="text-end me-5"><a class="text-warning link-offset-2 link-underline link-underline-opacity-0 fw-bold" href=" {{path('app_services')}}">Revenir aux services ↣</a></p>


{% endblock %}