{% extends 'base.html.twig' %}

{% block title %}Expérience de Lumière Lucia{% endblock %}

{% block body %}

    <div class="container">

        <h2 class="fs-1 fw-bold text-center m-5">Expérience de Lumière Lucia</h2>

        <div class="row featurette mb-5">
        <p class="fs-3 fw-semibold">Qu’est-ce que la lumière Lucia N°3 ?</p>
                <p class="lead">La Lucia est un système de neurostimulation par ondes lumineuses pulsées qui a pour effet d’activer la glande pinéale, et de déclencher des formes 
                d’ondes cérébrales (synchro thérapie) qu’on observe après plusieurs années de pratique de méditation. Elle se caractérise par la perceptions d’une symphonie de couleurs 
                kaléidoscopiques (mandala, géométrie sacrée, vortex etc..)</p>
            <div class="col-md-7 order-md-2">
                
                <p class="lead">La Lucia N°3 s’appuie sur les expériences scientifiques qui ont démontrés que la lumière est un vecteur de communication entre les cellules d’un même corps. 
                Son objectif est d’augmenter le rendement neuronal en stimulant l’ensemble des neurones du cortex cérébrale. De ce fait, elle va réveiller les neurones en sommeil et ainsi 
                améliorer les capacités cognitives et comportemental du consultant.
                La séance s’effectue les yeux fermés. La lumière pulsée va transporter l’information neuronale directement au cerveau par le biais du nerf optique. Elle va 
                stimuler l’ensemble du système énergétique et cellulaire en libérant les blocages, traumatismes et émotions inconscientes.
                Cette technologie brevetée est aujourd’hui utilisée dans plusieurs pays par des hypnothérapeutes, des sophrologues, des psychologues et des énergéticiens en
                médecine douce.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src=" {{ asset('images/description_lucia.png')}}" class="mr-3 img-fluid float-left" alt="Séance Lucia">
            </div>   
            
        </div>     

        <div class="container text-center">
            <h3 class="fs-3 fw-semibold pt-3"> Palmarès de la Lucia N°3 </h3>
            <div class="row">
                <div class="col text-center m-5">
                    <img src=" {{ asset('images/medaille_or_lucia.png')}}" class="img-fluid" alt="Séance Lucia"> <br>
                    <ul class="list-group">
                        <li class="lead list-group link-warning"> Médaille d'or</li> 
                        <li class="list-group">IENA : Ideas – Inventions – New Products,</li>
                        <li class="list-group">Nuremberg, Germany 2011</li>
                    </ul>
                </div>

                <div class="col text-center m-5">
                    <img src=" {{ asset('images/medaille_or1_lucia.png')}}" class="img-fluid" alt="Séance Lucia"> <br>
                    <ul class="list-group">
                        <li class="lead list-group link-warning"> Médaille d'or</li> 
                        <li class="list-group">International Invention Fair</li>
                        <li class="list-group">of the Middle East, Kuwait 2010</li>
                    </ul>
                </div>

                <div class="col text-center m-5">
                    <img src=" {{ asset('images/medaille_bronze_lucia.png')}}" class="img-fluid" alt="Séance Lucia"> <br>
                    <ul class="list-group">
                        <li class="lead list-group link-warning"> Médaille bronze</li> 
                        <li class="list-group">Salon International</li>
                        <li class="list-group">Des Inventions De Genève, Suisse 2010</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row featurette my-5">
            <div class="col-md-7">
                <p class="fs-1 fw-bold text-center">La lampe Hypnagogique Lucia N°3 </p>
                <p class="lead pt-3">Grâce à ses 8 leds blanches et son halogène central, la Lucia allie douceur et travail en profondeur.
                Conçu en 2009 en Autriche, elle dispose de 180 programmes pilotés par ordinateur pour répondre à tous types de demandes. Que ce soit simplement pour de la relaxation, pour élargir 
                son champ de conscience, pour effectuer un travail d’induction hypnotique en profondeur, pour améliorer ses capacités motrices et cognitives, pour recevoir des messages de son 
                inconscient et du monde subtils, une séance Lucia changera votre vision sur la luminothérapie.</p>
            </div>
            <div class="col mt-3 text-center">
                <img src=" {{ asset('images/lampe_lucia.png')}}" class="img-fluid" alt="Lampe Hypnagogique Lucia">
            </div>
        </div>


        <div class="container text-center">
            <p class="fs-3 fw-semibold pt-3"> La Lucia N°3 agit en profondeur sur les différents plans vibratoires. </p>
        </div>
        <div class="row featurette mb-3">
            <div class="col-md-7 order-md-2">
                <p class="lead display-6"><em>« Si vous voulez trouver les secrets de l’univers, pensez en termes d’énergie, de fréquence, d’information et de vibration »</em></p>

                <p class="lead"> NIKOLA TESLA</p>
            </div>
            <div class="col-md-5 order-md-1 text-center">
                <img src="{{asset('images/nikola_tesla.png')}}" class="img-fluid" width="200" height="200">
            </div>
        </div>

        <p class="fs-3 fw-semibold pt-3 text-center"> Déroulement d'une séance Lucia N°3 </p>
        <p class="lead">L’expérience Lucia se fait les yeux fermés, allongée sur un grand matelas confortable, casque audio sur les oreilles créant ainsi une ouverture sur une expérience 
        unique. Une séance peut se dérouler à deux.</p>
        <p class="lead">Dans un premier temps, nous nos entretenons sur les objectifs et les attentes du soins Lucia. Puis nous préparons énergétiquement les consultants à recevoir les 
        bienfaits d’une séance Lucia. Ce protocole énergétique dure environs 10 min.</p>
        <p class="lead">Après quelques règles d’usages et de sécurité, nous choisissons parmi 3 programmes l’intensité la plus adaptée. Et c’est parti pour un voyage de plus de 40 min. 
        Vous pouvez étendre les séances jusqu’à 1h20 de soins. </p>
        <p class="lead">Certaines personnes ont tendances à s’endormir, cela est tout à fait normal et n’empêche en aucun cas l’information de passer et le soin de se dérouler parfaitement 
        bien !  </p>


        <div class="row featurette my-5">
            <div class="col-md-7">
                <p class="lead fs-1 fw-bold text-center"> Les bienfaits peuvent se ressentir pendant une semaine </p>
                <ul class="list-group">
                    <li class="lead list-group"> Atteinte rapide d’un niveau de relaxation avancé (qui équivaut à une longue méditation) </li> 
                    <li class="lead list-group">Dilatation du champ énergétique</li>
                    <li class="lead list-group">Rééquilibrage et apaisement du système nerveux</li>
                    <li class="lead list-group">Augmentation de la fréquence vibratoire</li>
                    <li class="lead list-group">Expansion du champ de conscience et développement de la créativité</li>
                    <li class="lead list-group">Amélioration du sommeil</li>
                    <li class="lead list-group">Libération de charge émotionnelle et mentale possible</li>
                    <li class="lead list-group">Sentiment de bien-être, de joie et de lâcher-prise</li>
                </ul>
            </div>
            <div class="col mt-3 text-center">
                <img src="{{asset('images/activation_cerebrale_lucia.png')}}" class="img-fluid" width="350" height="350">
            </div>
        </div>

    </div>
 
    <div class="text-center mb-3">
        <button type="button" class="btn btn-outline-secondary">Réserver une séance</button>
    </div>

{% endblock %}