{% extends 'base.html.twig' %}

{% block title %}Découvrez mes services !{% endblock %}

{% block body %}

    <div class="mb-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_services.webp')}}'); background-size: cover; background-position: center; height: 300px; width: 100%;">
            <div class="container pt-3">
                <h1> EXPLOREZ MES SERVICES </h1>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row featurette">
            <div class="col-md-7 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Hypnose transpersonnelle <span class="text-body-secondary">"Suivre le chemin de son âme"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">
                        Je vous transporte dans un voyage intérieur où les frontières de la conscience s’élargissent grâce à l'hypnose régressive, révélant
                        un potentiel illimité à travers une hypnose guidée favorisant le lâcher prise sur le passé et la guérison intérieure.
                    </h4>
                </div>
                <div class="text-center mb-5">
                    <a href="{{ path('app_hypnose')}}">
                        <button type="button" class="bouton-or">Lire la suite</button>
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{asset('images/services_hypnose.webp')}}" class="img-fluid" width="100%" height="225" alt="Image de présentation de l'hypnose transpersonnelle">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2 my-auto">
                <h2 class="featurette-heading fw-normal lh-1"> Luminothérapie <span class="text-body-secondary">"États de perception et de conscience plus vastes"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">
                        Éveillez vos sens et illuminez votre esprit avec une séance de luminothérapie unique, où la lampe Lucia n°3, appelée aussi lampe hypnagogique révèle les bienfaits de la
                        luminothérapie, vous ouvrant les portes sur la perception et la pleine conscience. Vous offrant une expérience enrichissante au quotidien.
                    </h4>
                </div>
                <div class="text-center mb-5">
                    <a href="{{ path('app_lucia')}}">
                        <button type="button" class="bouton-or">Lire la suite</button>
                    </a>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('images/services_lucia.webp')}}" class="img-fluid" width="100%" height="225" alt="Image de présentation de la luminothérapie">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Méditation guidée <span class="text-body-secondary">"De la méditation nait la sagesse"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">
                        Dans le silence, effectuez un voyage vers la paix intérieure et la clarté mentale, où le tumulte du quotidien
                        se dissipe grâce à la méditation de pleine conscience, l’ancrage puissant et la relaxation guidée pour se détendre profondément.
                    </h4>
                </div>
                <div class="text-center mb-5">
                    <a href="{{ path('app_meditation')}}">
                        <button type="button" class="bouton-or">Lire la suite</button>
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{asset('images/services_meditation.webp')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Sonothérapie <span class="text-body-secondary">"Les soins vibratoires offrent un état de relaxation et un lâcher-prise profond immédiat"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">
                        Les soins vibratoires offrent un état de relaxation et un lâcher-prise profond immédiat.
                        Cette thérapie sonore par les bols tibétains, diapasons, vous aident à libérer les tensions du quotidien.
                    </h4>
                </div>
                <div class="text-center mb-5">
                    <a href="{{ path('app_soins')}}">
                        <button type="button" class="bouton-or">Lire la suite</button>
                    </a>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('images/services_soins.webp')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Constellation familiale et systémique <span class="text-body-secondary">"Révélez et transformez vos dynamiques familiales pour un futur épanoui"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">
                        À travers la constellation familiale systémique, une thérapie transgénérationnelle, je mets en lumière les dynamiques inconscientes au sein de votre famille.
                        Que ce soit en constellation individuelle, en constellation familiale en groupe ou en ligne, cette approche permet de résoudre les conflits personnels et familiaux.
                    </h4>
                </div>
                <div class="text-center mb-5">
                    <a href="{{ path('app_constellation')}}">
                        <button type="button" class="bouton-or">Lire la suite</button>
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{asset('images/services_constellation.webp')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Reiki <span class="text-body-secondary">"Le Reiki est l’Amour, l’Amour est la plénitude, la plénitude est l’équilibre, l’équilibre est le bien-être,
                le bien-être est la liberté de la maladie.” Dr. Mikao Usui</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">
                        Une séance de soins énergétiques Reiki est une pratique douce et apaisante visant à rééquilibrer les énergies du corps et de l'esprit. Dans différentes traditions, on la nomme Claire Lumière,
                        Esprit Saint, Ka, Conscience supérieure, la Rouah, l’Âme du monde…
                    </h4>
                </div>
                <div class="text-center mb-5">
                    <a href="{{ path('app_formation')}}">
                        <button type="button" class="bouton-or">Lire la suite</button>
                    </a>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('images/reiki_cadeau1.webp')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

    </div>

{% endblock %}
