{% extends 'base.html.twig' %}

{% block title %}Découvrez mes services !{% endblock %}

{% block body %}

    <div class="mb-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/entete_services.png')}}'); background-size: cover; background-position: center; height: 300px; width: 100%;">
            <div class="container pt-3">
                <h1> EXPLOREZ MES SERVICES </h1>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row featurette">
            <div class="col-md-7 my-auto">
            <h2 class="featurette-heading fw-normal lh-1">Hypnose transpersonnelle <span class="text-body-secondary">"Suivre le chemin de son âme"</span></h2>
                    <div class="text-center m-5">
                        <h4 class="lead fs-5 fw-normal">Je vous transporte dans un voyage intérieur où les frontières de la conscience s’élargissent pour révéler un potentiel illimité.
                            <a href="{{ path('app_hypnose')}}">
                                <button type="button" class="btn btn-link">Lire la suite</button>
                            </a>
                        </h4>  
                    </div>   
            <div class="text-center">
                        <button type="button" class="bouton-or">Réserver une séance</button>
                    </div>
            </div>
            <div class="col-md-5">
                <img src="{{asset('images/services_hypnose.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2 my-auto">
                <h2 class="featurette-heading fw-normal lh-1"> Luminothérapie <span class="text-body-secondary">"Etats de perception et de conscience plus vastes"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">Éveillez vos sens et illuminez votre esprit avec une expérience lumineuse unique qui ouvre les portes de la perception et enrichit votre vie quotidienne.
                        <a href="{{ path('app_lucia')}}">
                            <button type="button" class="btn btn-link">Lire la suite</button>
                        </a>
                    </h4> 
                </div>           
                <div class="text-center">
                    <button type="button" class="bouton-or">Réserver une séance</button>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('images/services_lucia.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Méditation guidée <span class="text-body-secondary">"De la méditation nait la sagesse"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal"> Dans le silence, effectuez un voyage vers la paix intérieure et la clarté mentale, où le tumulte du quotidien
                    se dissipe dans un océan de calme.
                        <a href="{{ path('app_meditation')}}">
                            <button type="button" class="btn btn-link">Lire la suite</button>
                        </a>
                    </h4> 
                </div>           
                <div class="text-center">
                    <button type="button" class="bouton-or">Réserver une séance</button>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{asset('images/services_meditation.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Soins vibratoires<span class="text-body-secondary">"Harmonisez votre essence, cristallisez votre bien-être."</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal">Comprend un soin orique au bol de cristal et un soin de réarmonisation des chakras au bol tibétain
                        <a href="{{ path('app_soins')}}">
                            <button type="button" class="btn btn-link">Lire la suite</button>
                        </a>
                    </h4> 
                </div>           
                <div class="text-center">
                    <button type="button" class="bouton-or">Réserver une séance</button>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{asset('images/services_soins.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 my-auto">
                <h2 class="featurette-heading fw-normal lh-1">Séance médiumnique<span class="text-body-secondary">"citation"</span></h2>
                <div class="text-center m-5">
                    <h4 class="lead fs-5 fw-normal"> 
                        <a href="{{ path('app_medium')}}">
                            <button type="button" class="btn btn-link">Lire la suite</button>
                        </a>
                    </h4> 
                </div>           
                <div class="text-center">
                    <button type="button" class="bouton-or">Réserver une séance</button>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{asset('images/services_medium.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
            </div>
        </div>
    </div>

{% endblock %}
