{% extends 'base.html.twig' %}

{% block title %}Découvrez mes services !{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Méditation guidée <span class="text-body-secondary">"De la méditation nait la sagesse"</span></h2>
            <p class="lead"> Qu’est-ce que la méditation ? </p>
            <p class="lead"> Une méditation est une pratique qui vise à entraîner l'esprit et à cultiver la pleine conscience. C'est une technique utilisée depuis des milliers 
            d'années dans différentes traditions spirituelles et philosophiques à travers le monde notamment le Bouddhisme.</p>
            <p class="lead">Lorsqu'on médite, on se concentre sur un objet ou un point focal, souvent la respiration, pour calmer l'esprit et se détacher des pensées et des 
            distractions. Cela permet de se connecter à l'instant présent, d'observer ses pensées sans s'y attacher ou les juger, et de cultiver une certaine sérénité intérieure. 
            Le but est d’accepter les pensées qui surgissent afin de lâcher prise. </p>
            <p class="lead">La méditation peut être pratiquée de différentes manières. Certaines techniques se focalisent sur la respiration, d'autres sur les sensations 
            corporelles, les pensées ou les émotions. Certaines méditations sont guidées, tandis que d'autres se font en silence. Certaines peuvent également incorporer des
            mantras (phrases ou mots répétés) ou des visualisations.<a href="{{ path('app_meditation')}}" target="_blank"><button type="button" class="btn btn-link">Lire la suite</button></a></p> 
                <div class="text-center">
                    <button type="button" class="btn btn-outline-secondary">Réserver une séance</button>
                </div>
        </div>
        <div class="col-md-5">
            <img src="{{asset('images/services_meditation.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Hypnose transpersonnelle <span class="text-body-secondary">"Suivre le chemin de son âme"</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-primary">Réserver une séance</button>
                </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{asset('images/services_hypnose.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1"> Expérience de Lumière <span class="text-body-secondary">Lucia</span></h2>
            <p class="lead"> Qu’est-ce que la Lumière Lucia N°3 ? </p>
            <p class="lead"> La Lucia est un système de neurostimulation par ondes lumineuses pulsées qui a pour effet d’activer la glande pinéale, et de déclencher des formes 
            d’ondes cérébrales (synchro thérapie) qu’on observe après plusieurs années de pratique de méditation. Elle se caractérise par la perceptions d’une symphonie de couleurs 
            kaléidoscopiques (mandala, géométrie sacrée, vortex etc..)</p>
            <p class="lead">La séance s’effectue les yeux fermés. La lumière pulsée va transporter l’information neuronale directement au cerveau par le biais du nerf optique. 
            Elle va stimuler l’ensemble du système énergétique et cellulaire en libérant les blocages, traumatismes et émotions inconscientes.</p>
            <p class="lead">Cette technologie brevetée est aujourd’hui utilisée dans plusieurs pays par des hypnothérapeutes, des sophrologues, des psychologues et des énergéticiens 
            en médecine douce.<a href="{{ path('app_lucia')}}" target="_blank"><button type="button" class="btn btn-link">Lire la suite</button></a></p> 

            
            <div class="text-center">
                <button type="button" class="btn btn-outline-danger">Réserver une séance</button>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{{asset('images/services_lucia.png')}}" class="img-fluid" width="100%" height="225" alt="..." >
        </div>
    </div>
</div>

{% endblock %}
