{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

    <div class="mb-5">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('graphisme/formulairecontact.png')}}'); background-size: cover; background-position: center;">
            <div class="container py-5">
                <h2 class="text-body-emphasis">Formulaire de contact</h2>
                <p>N'hésitez pas à m'écrire pour toute demande de renseignement ou suggestions !</p>
            </div>
        </div>
    </div>

<div class="mx-3">
    <div class="cadreform needs-validation m-5" novalidate>
        {{ form_start(form)}}
            {{form_errors(form)}}

            <div class="mb-3 mx-5">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3 mx-5">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3 mx-5">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3 mx-5">
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3 mx-5">
                {{ form_label(form.message) }}
                {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            </div>

        {# <div class="mb-3 mx-5">
                {{ form_label(form.acceptTermes) }}
                {{ form_widget(form.acceptTermes, {'attr': {'class': 'checkbox'}}) }}
            </div>#}

            <button type="submit" class="mb-3 ms-5 btn btn-primary">Envoyer</button>
        {{ form_end(form)}}
    </div>
</div>


{% endblock %}
