{% extends 'base.html.twig' %}

{% block title %}Réservation et tarifs{% endblock %}

{% block body %}

    <div class="mb-3">
        <div class="p-5 text-center bg-body-tertiary" style="background-image: url('{{asset('images/tarifs_bandeau.webp')}}'); background-size: cover; background-position: center; height: 300px; width: 100%;">
            <div class="container pt-3">
                <h1> RESERVATIONS ET TARIFS </h1>
            </div>
        </div>
    </div>

    <h2> Réservation en ligne </h2>
    <p class="lead text-center"> Vous pouvez réserver votre prestation en ligne. Je vous confirmerai par email le rendez-vous.</p>

    <h2> Mes tarifs </h2>
    <p class="lead text-center"> Vous pouvez réserver votre prestation en ligne. Je vous confirmerai par email le rendez-vous.</p>
    {# CARTES PRIX#}

    <div class="album py-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
                <div class="card m-3 text-center" style="width: 18rem;">
                    <img src="{{asset('images/services_hypnose.webp')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Mes séances d'hypnose</h3>
                        <p class="card-text">Je propose des séances indivuelles en présentielle, en visio ou avec un médium.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> 
                            - Séance en présentielle :<br> <strong>200 €</strong><br>
                            - Séance en visio :<br><strong>200 €</strong> 
                        </li>
                        <li class="list-group-item"> Moyens de paiement  <br> 
                            Sur place : <strong>espèce</strong> ou <strong>chèque</strong> <br>
                            En ligne : <strong>carte bancaire</strong>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="bouton-or">Réserver une séance</a>
                    </div>
                </div>
                <div class="card m-3 text-center" style="width: 18rem;">
                    <img src="{{asset('images/services_lucia.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Mes séances de luminothérapie</h3>
                        <p class="card-text">Je propose des séances indivuelles ou en duo, d'une heure ou deux heures</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> 
                            - Séance individuelle<br> 
                                <strong> 90 €</strong> (1 heure), <strong>150 €</strong> (2 heures) <br>
                            - Séance duo :<br>
                                <strong> 160 €</strong> (1 heure), <strong>250 €</strong> (2 heures)
                        </li>
                        <li class="list-group-item"> Moyens de paiement  <br> 
                            Sur place : <strong>espèce</strong> ou <strong>chèque</strong> <br>
                            En ligne : <strong>carte bancaire</strong>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="bouton-or">Réserver une séance</a>
                    </div>
                </div>
                <div class="card m-3 text-center" style="width: 18rem;">
                    <img src="{{asset('images/services_meditation.webp')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Mes séances de méditation</h3>
                        <p class="card-text">J'utilise différentes techniques et outils pour les méditations. Nous les voyons au préalable avant une séance.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Prix unique pour une séance : <br>
                            <strong> 15 € </strong>
                        </li>
                        <li class="list-group-item"> Moyens de paiement  <br> 
                            Sur place : <strong>espèce</strong> ou <strong>chèque</strong> <br>
                            En ligne : <strong>carte bancaire</strong>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="bouton-or">Réserver une séance</a>
                    </div>
                </div>
                <div class="card m-3 text-center" style="width: 18rem;">
                    <img src="{{asset('images/reiki_cadeau.webp')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Mes prestations de Reiki</h3>
                        <p class="card-text">Je propose plusieurs niveaux de formations ainsi que des séances de Reiki</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> 
                            - Mes formations (1 week-end)<br> 
                                <strong>230 €</strong> (1er degré), <br>
                                <strong>450 €</strong> (2ème degré), <br>
                                <strong>980 €</strong> (3ème degré),<br>
                                <strong>1450 €</strong> (4ème degré) <br>
                            - Séance : <strong> 90 € </strong>(1 heure 30)
                        </li>
                        <li class="list-group-item"> Moyens de paiement  <br> 
                            Sur place : <strong>espèce</strong> ou <strong>chèque</strong> <br>
                            En ligne : <strong>carte bancaire</strong>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="bouton-or">Réserver une séance</a>
                    </div>
                </div>
                <div class="card m-3 text-center" style="width: 18rem;">
                    <img src="{{asset('images/services_soins.webp')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Soins énergétiques vibratoires</h3>
                        <p class="card-text">Je propose deux types de soins au même prix</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> 
                            - Soin orique <br> 
                                <strong>80 €</strong> <br>
                            - Soin de réarmonisation des chakras <br>
                                <strong> 80€ </strong>
                        </li>
                        <li class="list-group-item"> Moyens de paiement  <br> 
                            Sur place : <strong>espèce</strong> ou <strong>chèque</strong> <br>
                            En ligne : <strong>carte bancaire</strong>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="bouton-or">Réserver une séance</a>
                    </div>
                </div>
                <div class="card m-3 text-center" style="width: 18rem;">
                    <img src="{{asset('images/reiki_cadeau.webp')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Mes séances médiumnique</h3>
                        <p class="card-text">La séance à lieu avec une la présence d'une troisième</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> 
                            - Prix unique pour une séance : <br> 
                                <strong>80 €</strong> (1er degré)
                        </li>
                        <li class="list-group-item"> Moyens de paiement  <br> 
                            Sur place : <strong>espèce</strong> ou <strong>chèque</strong> <br>
                            En ligne : <strong>carte bancaire</strong>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="bouton-or">Réserver une séance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="container text-center my-5">
        <h2> Découvrez en détails mes préstations </h2>
        <a href="{{path('app_hypnose')}}" class="bouton-or m-3">Hypnose</a>
        <a href="{{path('app_lucia')}}" class="bouton-or m-3">Luminothérapie</a>
        <a href="{{path('app_meditation')}}" class="bouton-or m-3">Méditation</a>
        <a href="{{path('app_formation')}}" class="bouton-or m-3">Reiki</a>
        <a href="{{path('app_soins')}}" class="bouton-or m-3">Soins énergétiques</a>
        <a href="{{path('app_medium')}}" class="bouton-or m-3">Séance médiumnique</a>
    </div>

{% endblock %}
